<div class = "container">  
        <mat-toolbar>
            <span>Image title</span>
            <span class="example-fill-remaining-space"></span>
            <button class = "mat-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><i class="material-icons md-dark">clear</i></button>
          </mat-toolbar>
    
        <form class="normal-form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                    <mat-label>Title</mat-label>
                <input matInput name="name" placeholder="Album Name*" formControlName="name">
                <mat-error *ngIf="myForm.controls['name'].hasError('required')">
                    Please enter title
                </mat-error>
                <mat-error *ngIf="myForm.controls['name'].hasError('minLength')">
                  Should not be shorter than 1 symbol
                </mat-error>
            </mat-form-field>
            <mat-form-field >
                    <mat-label>Description</mat-label>
                    <textarea matInput
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"
                              placeholder="Description*"
                              formControlName="description"
                              name="description"
                              ></textarea>
                              <mat-error *ngIf="myForm.controls['description'].hasError('maxLength')">
                                    Should not be longer than 1000 symbol
                                  </mat-error>
                  </mat-form-field>
            <mat-dialog-actions>
            <div class="btn-row">
                <button mat-dialog-close mat-raised-button color="primary" [disabled]="myForm.invalid" type="submit">Submit</button>
                <button mat-raised-button  color="warn" type="button" (click)="onClear()">Clear</button>
            </div>
        </mat-dialog-actions>
        </form>
    </div>
