@import "../../../../styles.scss";
.container{
    position: absolute;
    height: auto;
  // background: rgb(212, 86, 55);
        div.outer{
            width: auto;
            height: 1em;
            background: honeydew;
            div.inner{
                height: 1em;
                width: 1em;
                transform: rotate(45deg);
                position:relative;
                top:-5px;
                background: rgb(11, 59, 104);
            }
        }
        .message{
            position: relative;
            top:-0.5em;
            background: rgb(73, 149, 221);
            color: white;
            z-index: 2; 
           @include boxShadow(2px, 2px, 2px, black);
           @include borderRadius(5px);
           padding: 0 0.5em;
           height: auto;
            table{
                background: yellow;
                width: 100%;
                border-collapse: collapse;
                position: relative;
                top: -0.5em;
                tr{
                    td{
                        font-size: 0.5em;
                        font-weight: lighter;
                        padding: 0.5em 2em;
                        border: 1px solid rgb(230, 114, 114);
                        vertical-align: top;
                    }
                    td:first-child{
                        width: 20%;
                    }
                }
            }
        }  
 }    
 div.transition{
    transform: translateY(-100%);
    div.outer{
       div.inner {
           margin-top:-1em;

       }
    }
    div.message{
        @include boxShadow(0px, 0px, 0px, black);
    }
}